{% include 'partials/header.twig' %}
        <h2 class="page-title">HOME</h2>

        <section class="articles">

            {{ articleSearchManager.outputResults() }}
            {{ articleSearchManager.outputPagination() }}

            <div class="articles__navs articles-nav">
                <nav class="articles-nav__categories">
                    <h2>Categories</h2>
                    {{ function('wp_list_categories', {"title_li": ""}) }}
                </nav>

                <nav class="articles-nav__archives">
                    <h2>Blog Archives</h2>
                    {{ function('wp_get_archives') }}
                </nav>

                <nav class="articles-nav__tagcloud">
                    <h2>Tag Cloud</h2>
                    {{ function('wp_tag_cloud') }}
                </nav>

            </div>
        </section>
{% include 'partials/footer.twig' %}