{% include 'partials/header.twig' %}
<h2 class="page-title">Photography</h2>

<section class="galleries">
    {% for category in categories %}
        <div class="gallery">

            <h3 class="gallery__title">{{ category.name }}</h3>

            {% for picture in category.pictures %}
                <a href="{{ picture.largeUrl }}" class="gallery__image" data-lightbox="lightbox-{{ category.name }}"
                   data-title="{{ picture.title }}">
                    <img src="{{ picture.thumbUrl }}" alt="{{ category.name }}">
                </a>
            {% endfor %}

            <div class="gallery__total">{{ category.pictures | length }} images</div>

        </div>

    {% endfor %}
</section>

{% include 'partials/footer.twig' %}