{% include 'partials/header.twig' %}
<h2 class="page-title">{{ article.thePostTitle() }}</h2>

<article class="article article--full">
    <aside class="article--full__side">
        {% set thumbnail = article.getFeaturedImage('Article Feature', {class: "article--full__thumbnail"}) %}
        {% if thumbnail %}
            {{ thumbnail }}
        {% endif %}
        <time class="article--full__date" datetime="{{ article.theFormattedPostDate('c') }}">Published: {{ article.theFormattedPostDate('jS F Y') }}</time>
    </aside>
    <div class="article--full__content">
        {{ article.thePostContent() }}
    </div>
</article>
{% include 'partials/footer.twig' %}
